:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    padding: 1rem;

    visibility: hidden;
}

/* Modal */
#name-entry {
    padding: 1.5rem;
}

#name-entry::backdrop {
    background-color: black;
}

form {
    display: grid;
    grid-template: repeat(2, 1fr) / 15ch auto;
    gap: 1rem;
}

form > * {
    justify-self: center;
    align-self: center;
}

#start-button {
    grid-column: 1 / -1;
}

/* Board */
#grid {
    display: grid;
    width: min(75vw, 75vh);
    height: min(75vw, 75vh);
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid black;
}

.cell:hover {
    background-color: rgba(255, 255, 0, 25%);
}

@keyframes expand {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.mark {
    height: 100%;
    width: 100%;
    animation: expand 0.3s;
}