:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    padding: 1rem;
}

/* Modal */
#name-entry {
    padding: 1rem;
}

form {
    display: grid;
    grid-template: repeat(2, 1fr) / 15ch auto;
    gap: 1rem;

}

form > * {
    justify-self: center;
    align-self: center;
}

#start-button {
    grid-column: 1 / -1;
}

#grid {
    display: grid;
    width: 50vw;
    height: 50vw;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);

    border: 10px solid brown;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid black;
}

.cell:hover {
    background-color: rgba(255, 255, 0, 25%);
}